{% extends 'camera/base.html' %}

{% load static %}

{% block content %}
  <div class="col s12 m7">
    <h2 class="header"><i class="fas fa-crown"></i> ランキングからカメラを探す <i class="fas fa-crown"></i></h2><br>
    {% for rank in ranks %}
        <div class="card">
          <div class="card-body">
              <a href="{% url "ranking:detail" rank.id "review" %}" id="ranking-title-link" style="text-decoration: none; color: inherit;">
                  <h2 class="ranking-title">{{ rank.title }}</h2>
              </a>
              <p>{{ rank.description }}</p>
          </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}
