.header{
  text-align: center;
  font-size: 3vw
}

.card{
  max-height: 500px;
}

.card-body{
  padding: 0 1.25rem;
}

.ranking-title:hover {
  opacity: 0.5;
  text-decoration: underline;
}

.ranking-title{
  font-size: 3vw;
  margin-top: 0.5rem;
  color: #609;
}

