.header{
  text-align: center;
  font-size: 3vw
}

.card .horizontal{
  max-height: 500px;
}

.card-image img{
  width: 300px;
  height: auto;
}

.card-stacked .card-content .ranking-title{
  font-size: 2vw;
}

.title-link{
  text-decoration: none;
}
