{% extends 'search/base.html' %}

{% block content %}
  <div class="col s12 m7">
    <h2 class="header"><i class="fas fa-crown"></i> ランキングからカメラを探す <i class="fas fa-crown"></i></h2><br>
    <div class="card horizontal">
      <div class="card-image">
        <img src="/media/tiger.JPG" style="width: 300px; height: auto;">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h2 class="ranking-title"><b>初心者にオススメのミラーレスカメラTOP10</b></h2>
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="#">このランキングを見る</a>
        </div>
      </div>
    </div>
    <div class="card horizontal">
      <div class="card-image">
        <img src="/media/tiger.JPG" style="width: 300px; height: auto;">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h2 class="ranking-title"><b>初心者にオススメのミラーレスカメラTOP10</b></h2>
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="#">このランキングを見る</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
