<a href="{% url "camera:detail" camera.id %}">
    <h2 id="i{{ forloop.counter }}">{{ forloop.counter }}位 {{ camera.name }}</h2>
</a>
<div class="camera-info">
    <div class="row">
        <div class="col-sm-6" class="camera-img-container">
            <div class="camera-info-left">
                <a href="{{ camera.amazon_link }}" target="_blank">
                    <img src="{{ camera.image_url }}">
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="camera-info-right">
                {% if sort_type == "review" or not sort_type %}
                    <li>レビュー数: {{ camera.review_count }}</li>
                {% elif sort_type == "hashtag" %}
                    <li>インスタハッシュタグ数: {{ camera.hashtag_count }}</li>
                {% else %}
                    <li>インスタハッシュタグ上昇数: {{ camera.hashtag_increase_count }}</li>
                {% endif %}
                <li>参考価格: {{ camera.price }}円</li>
                <li>種類: {{ camera.camera_type.cam_type }}</li>
                <li>センサーサイズ: {{ camera.frame.frame_type }}</li>
                <li>有効画素数: {{ camera.pixel }}万画素</li>
                <li>WiFi転送: {% if camera.wifi %}○{% else %}×{% endif %}</li>
                <li>自撮り: {% if camera.selfie %}○{% else %}×{% endif %}</li>
                <li>発売日: {{ camera.open_date|date:"Y年m月d日" }}</li>
            </div>
        </div>
    </div>
</div>
<div class="ranking-ec-links">
    <div class="row" style="margin-bottom: 5px;">
        <div class="col s12 m6">
          <a href="{{ camera.amazon_link }}" class="ec-buttons" target="_blank">
              <div class="card amber" id="amazon-button-card">
                <div class="card-content white-text" id="amazon-button">
                  <span class="card-title" id="amazon-button-title"><i class="fab fa-amazon"></i>Amazonで見る</span>
                </div>
              </div>
          </a>
        </div>
    </div>
    <div class="row" style="margin-top: 5px;">
        <div class="col s12 m6">
          <a href="{{ camera.rakuten_link }}" class="ec-buttons" target="_blank">
              <div class="card deep-orange darken-2" id="rakuten-button-card">
                <div class="card-content white-text" id="rakuten-button">
                  <span class="card-title" id="amazon-button-title"><i class="fas fa-shopping-cart"></i>楽天で見る</span>
                </div>
              </div>
          </a>
        </div>
    </div>
</div>
{% include "camera/spec_detail.html" %}
<ul class="collapsible">
  <li>
    <div class="collapsible-header">
      <i class="fas fa-angle-down"></i>
      <p class="collapsible-label">{{ camera.name }}のレビュー</p>
    </div>
    <div class="collapsible-body">
      {% for review in camera.reviews %}
          {% include "common/review_card.html" %}
      {% endfor %}
      <div class="row">
          <a href="{% url "camera:detail" camera.id %}" style="margin: auto;">
              <button class="btn">他のレビューも見る</button>
          </a>
      </div>
    </div>
  </li>
</ul>