{% load static %}

<html>
  <head>
      <title>Camera Concierge</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'camera/materialize.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'camera/top_page.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'camera/search.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'ranking/style.css' %}">
      <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="{% static 'camera/search.js' %}"></script>
  </head>
  <body>

    <nav>
      <div class="nav-wrapper orange">
        <a href="/" class="brand-logo"><i class="fa fa-home"></i></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/ranking">ランキングから探す</a></li>
          <li><a href="/search">カメラを自分で検索</a></li>
          <li><a href="#">コンシェルジュに見つけてもらう</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="/ranking">ランキングから探す</a></li>
      <li><a href="/search">カメラを検索</a></li>
      <li><a href="#">コンシェルジュに見つけてもらう</a></li>
    </ul>

    {% block content %}
    {% endblock %}

  </body>
</html>
