{% load static %}

<html>
  <head>
      <title>Camera Concierge</title>

      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="robots" content="index">
      <meta property="og:type" content="article">
      <meta property="og:site_name" content="カメラコンシェルジュ">
      <meta property="og:title" content="">
      <meta property="og:description" content="">
      <meta property="og:image" content="">
      <meta property="og:url" content="">
      <meta property="article:published_time" content="">
      <meta property="article:modified_time" content="">
      <meta property="og:locale" content="ja_JP" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      {% include "common/css_js_tags.html" %}
  </head>
  <body>

    <header id="luxbar" class="luxbar-fixed">
        <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox"/>
        <div class="luxbar-menu luxbar-menu-right luxbar-menu-material-amber" style="background-color: #ff9800;">
            <ul class="luxbar-navigation">
                <li class="luxbar-header">
                    <a href="/" class="luxbar-brand">Camera Concierge</a>
                    <label class="luxbar-hamburger luxbar-hamburger-doublespin"
                    id="luxbar-hamburger" for="luxbar-checkbox"> <span></span> </label>
                </li>
                <li class="luxbar-item"><a href="/ranking">ランキングから探す</a></li>
                <li class="luxbar-item"><a href="/search">カメラを自分で検索</a></li>
{#                <li class="luxbar-item"><a href="#">コンシェルジュに見つけてもらう</a></li>#}
            </ul>
        </div>
    </header>

    {% block content %}
    {% endblock %}

  </body>
</html>
