{% extends 'camera/base.html' %}

{% block content %}
    <h1 class="detail-title">{{ camera.name }}の<br>スペック＆レビュー</h1>
    <div class="camera-info">
        <div class="row">
            <div class="col-sm-6">
                <div class="camera-info-left">
                    <a href="{{ camera.amazon_link }}" target="_blank">
                        <img src="{{ camera.image_url }}">
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="camera-info-right">
                    <li>参考価格: {{ camera.price }}円</li>
                    <li>種類: {{ camera.camera_type.cam_type }}</li>
                    <li>センサーサイズ: {{ camera.frame.frame_type }}</li>
                    <li>発売日: {{ camera.open_date|date:"Y年m月d日" }}</li>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 5px;">
        <div class="col s12 m6">
          <a href="{{ camera.amazon_link }}" class="ec-buttons" target="_blank">
              <div class="card amber" id="amazon-button-card">
                <div class="card-content white-text" id="amazon-button">
                  <span class="card-title" id="amazon-button-title"><i class="fab fa-amazon"></i>Amazonで見る</span>
                </div>
              </div>
          </a>
        </div>
    </div>
    <div class="row" style="margin-top: 5px;">
        <div class="col s12 m6">
          <a href="{{ camera.rakuten_link }}" class="ec-buttons" target="_blank">
              <div class="card deep-orange darken-2" id="rakuten-button-card">
                <div class="card-content white-text" id="rakuten-button">
                  <span class="card-title" id="amazon-button-title"><i class="fas fa-shopping-cart"></i>楽天で見る</span>
                </div>
              </div>
          </a>
        </div>
    </div>
    {% include "camera/spec_detail.html" %}
    <h2 class="review-section-title">{{ camera.name }}のレビュー記事</h2>
    <div class="reviews">
        {% for review in reviews %}
              <div class="row">
                <div class="col-sm-8" style="margin: auto;">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <h3 class="card-title" id="review-card-title">{{ review.title }}</h3>
                      <p>{{ review.body }}</p>
                    </div>
                    <div class="card-action">
                      <a href="{{ review.url }}" target="_blank">掲載元サイトで見る</a>
                    </div>
                  </div>
                </div>
              </div>
        {% endfor %}
    </div>
    {% include 'camera/page/review_page.html' %}
{% endblock %}
