{% extends 'camera/base.html' %}

{% block content %}
{% if cameras %}
    {% for camera in cameras %}
        <div class="search_results">
          <div class="row">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">{{ forloop.counter }}位</span>
                    <h3>{{ camera.name }}</h3>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
{% endif %}
<div class="form-group">
  <form action="{% url "camera:search" %}" method="get">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">機種名</p>
        </div>
        <div class="collapsible-body">
          {{ form.name.label_tag }}
          {{ form.name }}
          {{ form.name.help_text }}
          {{ form.name.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">カメラのタイプ</p>
        </div>
        <div class="collapsible-body">
          {{ form.camera_type.label_tag }}
          {{ form.camera_type }}
          {{ form.camera_type.help_text }}
          {{ form.camera_type.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
          <p class="collapsible-label">価格</p>
        </div>
        <div class="collapsible-body">
          {{ form.min_price.label_tag }}
          {{ form.min_price }}
          {{ form.min_price.help_text }}
          {{ form.min_price.errors }}

          {{ form.max_price.label_tag }}
          {{ form.max_price }}
          {{ form.max_price.help_text }}
          {{ form.max_price.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
          <p class="collapsible-label">有効画素数</p>
        </div>
        <div class="collapsible-body">
          {{ form.min_pixel.label_tag }}
          {{ form.min_pixel }}
          {{ form.min_pixel.help_text }}
          {{ form.min_pixel.errors }}

          {{ form.max_pixel.label_tag }}
          {{ form.max_pixel }}
          {{ form.max_pixel.help_text }}
          {{ form.max_pixel.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">ISO感度</p>
        </div>
        <div class="collapsible-body">
          {{ form.min_iso.label_tag }}
          {{ form.min_iso }}
          {{ form.min_iso.help_text }}
          {{ form.min_iso.errors }}

          {{ form.max_iso.label_tag }}
          {{ form.max_iso }}
          {{ form.max_iso.help_text }}
          {{ form.max_iso.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">連写性能(枚/秒)</p>
        </div>
        <div class="collapsible-body">
          {{ form.min_continuous_shooting_performance.label_tag }}
          {{ form.min_continuous_shooting_performance }}
          {{ form.min_continuous_shooting_performance.help_text }}
          {{ form.min_continuous_shooting_performance.errors }}

          {{ form.max_continuous_shooting_performance.label_tag }}
          {{ form.max_continuous_shooting_performance }}
          {{ form.max_continuous_shooting_performance.help_text }}
          {{ form.max_continuous_shooting_performance.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">シャッタースピード</p>
        </div>
        <div class="collapsible-body">
          {{ form.min_shutter_speed.label_tag }}
          {{ form.min_shutter_speed }}
          {{ form.min_shutter_speed.help_text }}
          {{ form.min_shutter_speed.errors }}

          {{ form.max_shutter_speed.label_tag }}
          {{ form.max_shutter_speed }}
          {{ form.max_shutter_speed.help_text }}
          {{ form.max_shutter_speed.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">モニターサイズ(インチ)</p>
        </div>
        <div class="collapsible-body">
          {{ form.min_monitor_size.label_tag }}
          {{ form.min_monitor_size }}
          {{ form.min_monitor_size.help_text }}
          {{ form.min_monitor_size.errors }}

          {{ form.max_monitor_size.label_tag }}
          {{ form.max_monitor_size }}
          {{ form.max_monitor_size.help_text }}
          {{ form.max_monitor_size.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">モニター解像度</p>
        </div>
        <div class="collapsible-body">
          {{ form.min_monitor_pixel.label_tag }}
          {{ form.min_monitor_pixel }}
          {{ form.min_monitor_pixel.help_text }}
          {{ form.min_monitor_pixel.errors }}

          {{ form.max_monitor_pixel.label_tag }}
          {{ form.max_monitor_pixel }}
          {{ form.max_monitor_pixel.help_text }}
          {{ form.max_monitor_pixel.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">撮影可能枚数</p>
        </div>
        <div class="collapsible-body">
          {{ form.min_shooting_num.label_tag }}
          {{ form.min_shooting_num }}
          {{ form.min_shooting_num.help_text }}
          {{ form.min_shooting_num.errors }}

          {{ form.max_shooting_num.label_tag }}
          {{ form.max_shooting_num }}
          {{ form.max_shooting_num.help_text }}
          {{ form.max_shooting_num.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">4K動画撮影</p>
        </div>
        <div class="collapsible-body">
          {{ form.four_k.label_tag }}
          {{ form.four_k }}
          {{ form.four_k.help_text }}
          {{ form.four_k.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">WiFi</p>
        </div>
        <div class="collapsible-body">
          {{ form.wifi.label_tag }}
          {{ form.wifi }}
          {{ form.wifi.help_text }}
          {{ form.wifi.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">タッチパネル</p>
        </div>
        <div class="collapsible-body">
          {{ form.touch_panel.label_tag }}
          {{ form.touch_panel }}
          {{ form.touch_panel.help_text }}
          {{ form.touch_panel.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">可動式パネル</p>
        </div>
        <div class="collapsible-body">
          {{ form.move_panel.label_tag }}
          {{ form.move_panel }}
          {{ form.move_panel.help_text }}
          {{ form.move_panel.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">重さ</p>
        </div>
        <div class="collapsible-body">
          {{ form.min_weight.label_tag }}
          {{ form.min_weight }}
          {{ form.min_weight.help_text }}
          {{ form.min_weight.errors }}

          {{ form.max_weight.label_tag }}
          {{ form.max_weight }}
          {{ form.max_weight.help_text }}
          {{ form.max_weight.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">幅</p>
        </div>
        <div class="collapsible-body">
          {{ form.min_width.label_tag }}
          {{ form.min_width }}
          {{ form.min_width.help_text }}
          {{ form.min_width.errors }}

          {{ form.max_width.label_tag }}
          {{ form.max_width }}
          {{ form.max_width.help_text }}
          {{ form.max_width.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">高さ</p>
        </div>
        <div class="collapsible-body">
          {{ form.min_height.label_tag }}
          {{ form.min_height }}
          {{ form.min_height.help_text }}
          {{ form.min_height.errors }}

          {{ form.max_height.label_tag }}
          {{ form.max_height }}
          {{ form.max_height.help_text }}
          {{ form.max_height.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">奥行き</p>
        </div>
        <div class="collapsible-body">
          {{ form.min_depth.label_tag }}
          {{ form.min_depth }}
          {{ form.min_depth.help_text }}
          {{ form.min_depth.errors }}

          {{ form.max_depth.label_tag }}
          {{ form.max_depth }}
          {{ form.max_depth.help_text }}
          {{ form.max_depth.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">センサーサイズ</p>
        </div>
        <div class="collapsible-body">
          {{ form.frame.label_tag }}
          {{ form.frame }}
          {{ form.frame.help_text }}
          {{ form.frame.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">メーカー</p>
        </div>
        <div class="collapsible-body">
          {{ form.maker.label_tag }}
          {{ form.maker }}
          {{ form.maker.help_text }}
          {{ form.maker.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">ファインダー</p>
        </div>
        <div class="collapsible-body">
          {{ form.finder.label_tag }}
          {{ form.finder }}
          {{ form.finder.help_text }}
          {{ form.finder.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">F値</p>
        </div>
        <div class="collapsible-body">
          {{ form.min_f_value.label_tag }}
          {{ form.min_f_value }}
          {{ form.min_f_value.help_text }}
          {{ form.min_f_value.errors }}

          {{ form.max_f_value.label_tag }}
          {{ form.max_f_value }}
          {{ form.max_f_value.help_text }}
          {{ form.max_f_value.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">ワイド端F値</p>
        </div>
        <div class="collapsible-body">
          {{ form.min_f_value_wide.label_tag }}
          {{ form.min_f_value_wide }}
          {{ form.min_f_value_wide.help_text }}
          {{ form.min_f_value_wide.errors }}

          {{ form.max_f_value_wide.label_tag }}
          {{ form.max_f_value_wide }}
          {{ form.max_f_value_wide.help_text }}
          {{ form.max_f_value_wide.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">撮影可能枚数(ファインダー使用時)</p>
        </div>
        <div class="collapsible-body">
          {{ form.min_shootin_num_with_finder.label_tag }}
          {{ form.min_shootin_num_with_finder }}
          {{ form.min_shootin_num_with_finder.help_text }}
          {{ form.min_shootin_num_with_finder.errors }}

          {{ form.max_shootin_num_with_finder.label_tag }}
          {{ form.max_shootin_num_with_finder }}
          {{ form.max_shootin_num_with_finder.help_text }}
          {{ form.max_shootin_num_with_finder.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">Bluetooth</p>
        </div>
        <div class="collapsible-body">
          {{ form.bluetooth.label_tag }}
          {{ form.bluetooth }}
          {{ form.bluetooth.help_text }}
          {{ form.bluetooth.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">ズーム性能</p>
        </div>
        <div class="collapsible-body">
          {{ form.min_zoom.label_tag }}
          {{ form.min_zoom }}
          {{ form.min_zoom.help_text }}
          {{ form.min_zoom.errors }}

          {{ form.max_zoom.label_tag }}
          {{ form.max_zoom }}
          {{ form.max_zoom.help_text }}
          {{ form.max_zoom.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">焦点距離</p>
        </div>
        <div class="collapsible-body">
          {{ form.min_focus.label_tag }}
          {{ form.min_focus }}
          {{ form.min_focus.help_text }}
          {{ form.min_focus.errors }}

          {{ form.max_focus.label_tag }}
          {{ form.max_focus }}
          {{ form.max_focus.help_text }}
          {{ form.max_focus.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">自撮り</p>
        </div>
        <div class="collapsible-body">
          {{ form.selfie.label_tag }}
          {{ form.selfie }}
          {{ form.selfie.help_text }}
          {{ form.selfie.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">防水</p>
        </div>
        <div class="collapsible-body">
          {{ form.waterploof.label_tag }}
          {{ form.waterploof }}
          {{ form.waterploof.help_text }}
          {{ form.waterploof.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">GPS</p>
        </div>
        <div class="collapsible-body">
          {{ form.gps.label_tag }}
          {{ form.gps }}
          {{ form.gps.help_text }}
          {{ form.gps.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">最短撮影距離</p>
        </div>
        <div class="collapsible-body">
          {{ form.nearest_shot.label_tag }}
          {{ form.nearest_shot }}
          {{ form.nearest_shot.help_text }}
          {{ form.nearest_shot.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">最短撮影距離(マクロモード時)</p>
        </div>
        <div class="collapsible-body">
          {{ form.min_nearest_shot_with_macro_mode.label_tag }}
          {{ form.min_nearest_shot_with_macro_mode }}
          {{ form.min_nearest_shot_with_macro_mode.help_text }}
          {{ form.min_nearest_shot_with_macro_mode.errors }}

          {{ form.max_nearest_shot_with_macro_mode.label_tag }}
          {{ form.max_nearest_shot_with_macro_mode }}
          {{ form.max_nearest_shot_with_macro_mode.help_text }}
          {{ form.max_nearest_shot_with_macro_mode.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">手ぶれ補正</p>
        </div>
        <div class="collapsible-body">
          {{ form.anti_shake.label_tag }}
          {{ form.anti_shake }}
          {{ form.anti_shake.help_text }}
          {{ form.anti_shake.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">ボディ内5軸手ぶれ補正</p>
        </div>
        <div class="collapsible-body">
          {{ form.five_axis_anti_shake.label_tag }}
          {{ form.five_axis_anti_shake }}
          {{ form.five_axis_anti_shake.help_text }}
          {{ form.five_axis_anti_shake.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">超広角(360度)</p>
        </div>
        <div class="collapsible-body">
          {{ form.super_wide.label_tag }}
          {{ form.super_wide }}
          {{ form.super_wide.help_text }}
          {{ form.super_wide.errors }}
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">発売時期</p>
        </div>
        <div class="collapsible-body">
          {{ form.min_open_date.label_tag }}
          {{ form.min_open_date }}
          {{ form.min_open_date.help_text }}
          {{ form.min_open_date.errors }}

          {{ form.max_open_date.label_tag }}
          {{ form.max_open_date }}
          {{ form.max_open_date.help_text }}
          {{ form.max_open_date.errors }}
        </div>
      </li>
    </ul>
    <button class="waves-effect waves-light btn" type="submit">検索</button>
  </form>
</div>
{% endblock %}
