<ul class="collapsible">
    <li>
        <div class="collapsible-header">
          <i class="fas fa-angle-down"></i>
            <p class="collapsible-label">スペック詳細</p>
        </div>
        <div class="collapsible-body">
          <table>
              <tr>
                  <th>機種名</th>
                  <th>{{ camera.name }}</th>
              </tr>
              <tr>
                  <th>メーカー</th>
                  <th>{{ camera.maker.name }}</th>
              </tr>
              <tr>
                  <th>発売日</th>
                  <th>{{ camera.open_date|date:"Y年m月d日" }}</th>
              </tr>
              <tr>
                  <th>カメラのタイプ</th>
                  <th>{{ camera.camera_type.cam_type }}</th>
              </tr>
              <tr>
                  <th>価格</th>
                  <th>{{ camera.price }}円</th>
              </tr>
              <tr>
                  <th>センサーサイズ</th>
                  <th>{{ camera.frame.frame_type }}</th>
              </tr>
              <tr>
                  <th>有効画素数</th>
                  <th>{{ camera.pixel }}万画素</th>
              </tr>
              {% if camera.camera_type.cam_type == "デジタルカメラ" %}
                  <tr>
                      <th>焦点距離</th>
                      <th>{{ camera.min_focus }}mm ~ {{ camera.max_focus }}mm</th>
                  </tr>
                  <tr>
                      <th>ズーム倍率</th>
                      <th>{{ camera.zoom }}倍</th>
                  </tr>
                  <tr>
                    <th>最小F値</th>
                    <th>{{ camera.f_value_wide }}(ワイド端) ~ {{ camera.f_value_tele }}(テレ端)</th>
                  </tr>
                  <tr>
                      <th>最短撮影距離</th>
                      <th>{{ camera.nearest_shot }}cm</th>
                  </tr>
                  {% if camera.nearest_shot_with_macro_mode %}
                  <tr>
                      <th>最短撮影距離(マクロモード時)</th>
                      <th>{{ camera.nearest_shot_with_macro_mode }}cm</th>
                  </tr>
                  {% endif %}
              {% endif %}
              <tr>
                  <th>ISO感度</th>
                  <th>{{ camera.min_iso }} ~ {{ camera.max_iso }}</th>
              </tr>
              <tr>
                  <th>連写性能</th>
                  <th>{{ camera.continuous_shooting_performance }}枚/秒</th>
              </tr>
            　<tr>
                  <th>シャッタースピード</th>
                  <th>{{ camera.shutter_speed }}</th>
              </tr>
              <tr>
                  <th>モニターサイズ</th>
                  <th>{{ camera.monitor_size }}型</th>
              </tr>
            　<tr>
                  <th>モニター解像度</th>
                  <th>{{ camera.monitor_pixel }}万ドット</th>
              </tr>
            　<tr>
                  <th>撮影可能枚数</th>
                  <th>{{ camera.shooting_num }}枚</th>
              </tr>
              {% if camera.shooting_num_with_finder %}
                  <tr>
                      <th>撮影可能枚数(ファインダー使用時)</th>
                      <th>{{ camera.shooting_num_with_finder }}枚</th>
                  </tr>
              {% endif %}
            　<tr>
                  <th>自撮り</th>
                  {% if camera.selfie %}
                    <th>可能</th>
                  {% else %}
                    <th>不可能</th>
                  {% endif %}
              </tr>
              <tr>
                  <th>手ぶれ補正</th>
                  {% if camera.anti_shake %}
                    <th>{{ camera.anti_shake }}</th>
                  {% else %}
                    <th>非搭載</th>
                  {% endif %}
              </tr>
              <tr>
                  <th>ボディ内５軸手ぶれ補正</th>
                  {% if camera.five_axis_anti_shake %}
                    <th>搭載</th>
                  {% else %}
                    <th>非搭載</th>
                  {% endif %}
              </tr>
              <tr>
                  <th>4K動画撮影</th>
                  {% if camera.four_k %}
                    <th>可能</th>
                  {% else %}
                    <th>不可能</th>
                  {% endif %}
              </tr>
              <tr>
                  <th>Wifi機能</th>
                  {% if camera.wifi %}
                    <th>搭載</th>
                  {% else %}
                    <th>非搭載</th>
                  {% endif %}
              </tr>
              <tr>
                  <th>Bluetooth機能</th>
                  {% if camera.bluetooth != "0" %}
                    <th>{{ camera.bluetooth }}</th>
                  {% else %}
                    <th>非搭載</th>
                  {% endif %}
              </tr>
            　<tr>
                  <th>タッチパネル</th>
                  {% if camera.touch_panel %}
                    <th>搭載</th>
                  {% else %}
                    <th>非搭載</th>
                  {% endif %}
              </tr>
            　<tr>
                  <th>可動式パネル</th>
                  {% if camera.move_panel %}
                    <th>搭載</th>
                  {% else %}
                    <th>非搭載</th>
                  {% endif %}
              </tr>
            　<tr>
                  <th>GPS</th>
                  {% if camera.gps %}
                    <th>搭載</th>
                  {% else %}
                    <th>非搭載</th>
                  {% endif %}
              </tr>
              <tr>
                  <th>防水</th>
                  {% if camera.waterploof %}
                    <th>{{ camera.waterploof }}</th>
                  {% else %}
                    <th>なし</th>
                  {% endif %}
              </tr>
              <tr>
                  <th>超広角(360度カメラ)</th>
                  {% if camera.super_wide %}
                    <th>○</th>
                  {% else %}
                    <th>✖︎</th>
                  {% endif %}
              </tr>
              {% if camera.finder.finder_type %}
                  <tr>
                      <th>ファインダー</th>
                      <th>{{ camera.finder.finder_type }}</th>
                  </tr>
              {% endif %}
              <tr>
                  <th>重さ</th>
                  <th>{{ camera.weight }}g</th>
              </tr>
              <tr>
                  <th>幅</th>
                  <th>{{ camera.width }}mm</th>
              </tr>
              <tr>
                  <th>高さ</th>
                  <th>{{ camera.height }}mm</th>
              </tr>
              <tr>
                  <th>奥行</th>
                  <th>{{ camera.weight }}mm</th>
              </tr>
          </table>
        </div>
    </li>
</ul>