{% extends 'camera/base.html' %}

{% block content %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Camera Concierge</h1>
      <div class="row center">
        <h5 class="header col s12 light">あなたの相棒になるカメラが見つかるサイト</h5>
      </div>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">用途別にカメラの<br>ランキングを作成</h5>
            <p class="light">インターネット上に数多あるカメラのレビューを集計し、人気ランキングを作成。</p>
          </div>
          <div class="icon-button center">
              <a href="{% url "ranking:index" %}" class="waves-effect waves-light btn center">人気ランキングを見る</a>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">ランキングの<br>絞り検索機能</h5>
            <p class="light">予算や用途などに応じて、ランキングをカスタマイズ。自分の相棒になるべき機種が見つかる</p>
          </div>
          <div class="icon-button center">
              <a href="{% url "camera:search" %}" class="waves-effect waves-light btn center">検索してみる</a>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">気になる機種の<br>レビューをチェック</h5>
            <p class="light">機種ごとに、レビュー記事を表示。良レビューから参考になる情報を仕入れる</p>
          </div>
          <div class="icon-button center">
              <a href="{% url "ranking:index" %}" class="waves-effect waves-light btn center">カメラを探してレビューをチェック</a>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">作った人</h5>
          <p class="grey-text text-lighten-4">シャチ太郎</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">人気ランキング</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">最新のランキング</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
{% endblock %}
