.detail-title {
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
}

.camera-image img:hover{
    opacity: 0.6;
}

.camera-info-left img{
    display: block;
    margin: auto;
    width: 50%;
    min-width: 300px;
}

.camera-info-right li{
    list-style: none;
    text-align: center;
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: bold;
}

#amazon-button-card{
    height: 8vh;
}

#amazon-button-card:hover{
    opacity: 0.6;
}

#amazon-button{
    padding: 0.5vh 0 1vh;
}

#rakuten-button-card{
    height: 8vh;
}

#rakuten-button-card:hover{
    opacity: 0.6;
}

#rakuten-button{
    padding: 0.5vh 0 1vh;
}

.ec-buttons:hover{
    text-decoration: none;
}

#amazon-button-title{
    font-size: 5vh;
}

.fa-amazon{
    margin-top: 1vh;
    margin-right: 1vw;
}

.fa-shopping-cart{
    margin-top: 1vh;
    margin-right: 1vw;
}

.reviews{
    clear: both;
}

.review-section-title{
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
}

.review-card{
    margin: auto;
}

#review-card-title{
    font-size: 3vw;
}

@media screen and (max-width: 500px){
    .detail-title {
        font-size: 10vw;
    }
    .review-section-title{
        font-size: 8vw;
    }
    #review-card-title{
        font-size: 6vw;
    }
}